.parallax {
  background-image: url("img/Fortnite.jpg");
  filter: blur(px);

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.a {
  color: grey;
}
.col {
  font-family: "Mada", sans-serif;
}
.bgs {
  background-color: #fffff2;
}
.oa {
  font-size: 30px;
}

big {
  font-size: 500%;
}
iframe {
  width: 70vw;
  height: 50vw;
}
/*
font-family: 'Armata', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Mada', sans-serif;
font-family: 'Mukta Malar', sans-serif;
*/
